<div style="position: absolute;z-index: 10000;overflow: hidden;left: 50px" class="fr-rounded fr-background--white fr-m-2v">
        <div class="fr-pt-5v fr-px-5v">
    <h6>Evolution des foyers d'infestation <br>
    de punaises de lit en France</h6>
        </div>
    <form action="#" name="bo-carto-filter" id="bo_carto_filter" method="POST" class="fr-background--white" style="overflow: hidden">
        <div class="fr-pb-5v fr-px-5v">
            <div class="fr-pb-3v">
                <label for="filter-date">Voir l'évolution hebdomadaire :</label>
                <input type="hidden" name="filter-date" value="">
            </div>
            <div id="weekly-slider"></div>
            <div id="weekly-slider-selection" class="align-center fr-pt-3v"></div>
        </div>
    </form>
</div>