<form action="#" name="bo-carto-filter" id="bo_carto_filter" method="POST" class="fr-background--white"
      style="overflow: hidden">
    <div class="fr-p-5v">
{#      <div>
            <input type="range" id="volume" name="volume"
                    min="0" max="11">
            <label for="volume">Volume</label>
        </div> #}
        <label for="week">Choisir une semaine:</label>
        <input type="week" name="week" id="carto-week"
            min="2023-W1"  required>

    </div>
</form>