{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Cartographie des signalements{% endblock %}

{% block body %}
<main class="fr-px-5w fr-py-15w">
    <iframe src="https://www.google.com/maps/d/embed?mid=1mkF6ugeIYE1Q5ESrk67zi9sRY057PwU&ehbc=2E312F" width="640" height="480"></iframe>
</main>
{% endblock %}
