{% extends 'base-back.html.twig' %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/jquery-ui/jquery-ui.min.css') }}">
{% endblock %}

{% block title %}Stop punaises - Cartographie des signalements{% endblock %}

{% block body %}
    {% include 'cartographie/curseur.html.twig' %}
    <div class="fr-grid-row fr-pt-0 fr-h-100">
        <div class="fr-col-12 signalement-invalid" id="container_map">
            <div class="fr-h-100 fr-w-100" id="map-signalements-view"></div>
        </div>
    </div>
{% endblock %}
