{% extends 'base-back.html.twig' %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/jquery-ui/jquery-ui.min.css') }}">
{% endblock %}

{% block title %}Cartographie des signalements{% endblock %}

{% block body %}
    {% include 'cartographie/curseur.html.twig' %}
    <div class="fr-grid-row fr-pt-0 fr-h-100">
        <div class="fr-col-12 fr-position-relative" id="container_map">
            <div class="fr-h-100 fr-w-100" id="map-signalements-view">
            </div>
            <div id="loading-overlay" class="fr-loading-styles fr-hidden">
                <div class="fr-loading-spinner"></div>
            </div>
        </div>
    </div>
{% endblock %}
