<div class="fr-alert fr-alert--warning">
    <p>
        Première connexion ?
        <br>
        <a href="{{ path('request_account_activation') }}">Cliquez ici pour activer votre compte</a>.
    </p>
</div>