<hr>
<h2>Vous avez déjà un compte ?</h2>
<ul class="fr-btns-group">
    <li>
        <a href="{{ path('app_login') }}" class="fr-btn fr-btn--secondary">
            Se connecter
        </a>
    </li>
</ul>