<hr>
<h2>Vous avez oublié votre mot de passe ?</h2>
<ul class="fr-btns-group">
    <li>
        <a href="{{ path('request_password') }}" class="fr-btn fr-btn--secondary">
            Demander un nouveau mot de passe
        </a>
    </li>
</ul>