<hr>
<h2>Première connexion ?</h2>
<ul class="fr-btns-group">
    <li>
        <a href="{{ path('request_account_activation') }}" class="fr-btn fr-btn--secondary">
            Activer votre compte
        </a>
    </li>
</ul>