<div class="fr-alert fr-alert--info">
    <p>
        Vous avez oublié votre mot de passe ?
        <br>
        <a href="{{ path('request_password') }}">Cliquez ici pour en demander un nouveau</a>
    </p>
</div>
