{% extends 'base.html.twig' %}

{% block title %}Activer mon compte{% endblock %}

{% block body %}
<div class="fr-container fr-py-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-10 fr-col-md-8 fr-col-lg-6">
            <h1>Création de votre mot de passe</h1>

            <div class="fr-alert fr-alert--info fr-mb-3w">
                <p>Vous avez demandé la récupération ou la création de votre mot de passe</p>
            </div>

            <form class="needs-validation fr-mb-5w" name="login-creation-mdp-form" method="POST" novalidate="">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div role="status" class="fr-alert fr-alert--{{ label }} fr-alert--sm fr-mb-3v">
                            {% if label is same as('error') %}
                                <strong>Erreur...</strong>
                            {% endif %}
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="fr-input-group">
                    <label class="fr-label" for="login-email" autocomplete="email">Adresse email</label>
                    <div class="fr-input">{{ email }}</div>
                </div>

                <div class="fr-input-group">
                    <label class="fr-label" for="login-password">Mot de passe</label>
                    <input class="fr-input" type="password" id="login-password" name="password" required minlength="8" autocomplete="new-password">
                </div>

                <div class="fr-input-group">
                    <label class="fr-label" for="login-password-repeat">Confirmation du mot de passe</label>
                    <input class="fr-input" type="password" id="login-password-repeat" name="password-repeat" required minlength="8" autocomplete="new-password">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('create_password_'~id) }}">

                <div class="fr-input-group">
                    <button class="fr-btn fr-btn--icon-left fr-icon-check-line">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
