{% extends 'base.html.twig' %}

{% set submit_route_action = app.request.get('_route') == 'request_password' ? 'request_password' : 'request_account_activation' %}

{% block title %}
    {{ submit_route_action == 'request_password' ? 'Demande de réinitialisation envoyée' : 'Demande d\'activation envoyée'}}
{% endblock %}

{% block body %}
<div class="fr-container fr-py-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-10 fr-col-md-8 fr-col-lg-6">
            <h1>
                {% if submit_route_action == 'request_password' %}
                    Réinitialiser mon mot de passe
                {% else %}
                    Activer mon compte
                {% endif %}
            </h1>

            <div role="status" class="fr-alert fr-alert--success">
                {% if submit_route_action == 'request_password' %}
                    <h3>Demande de réinitialisation envoyée&nbsp;!</h3>
                    <p>
                        Vous allez recevoir un email d'ici quelques minutes.
                        Cliquez sur le lien dans l'email pour réinitialiser votre mot de passe.
                    </p>
                {% else %}
                    <h3>Demande d'activation envoyée&nbsp;!</h3>
                    <p>
                        Vous allez recevoir un email d'ici quelques minutes.
                        Cliquez sur le lien dans l'email pour activer votre compte.
                    </p>
                {% endif %}
                    <p>
                        <em>
                            Ce courriel à été envoyé à l'adresse&nbsp;:
                            <br>
                            {{ email }}
                        </em>
                    </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
