{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation envoyée{% endblock %}

{% block body %}
<div class="fr-container fr-py-5w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-10 fr-col-md-8 fr-col-lg-6">
            <h1>Réinitialiser mon mot de passe</h1>

            <div role="status" class="fr-alert fr-alert--success">
                <h3>Demande de réinitialisation envoyée&nbsp;!</h3>
                <p>
                    Vous allez recevoir un email d'ici quelques minutes.
                    Cliquez sur le lien dans l'email pour réinitialiser votre mot de passe.
                </p>
                <p>
                    <em>
                        Ce courriel à été envoyé à l'adresse&nbsp;:
                        <br>
                        {{ email }}
                    </em>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
