# docker-compose.yml

services:
  stopunaises_mysql:
    image: 'mysql:8.0.40'
    container_name: stopunaises_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: stopunaises_db
      MYSQL_USER: stopunaises
      MYSQL_PASSWORD: stopunaises
      MYSQL_TCP_PORT: 3308
    ports:
      - 3308:3308
    volumes:
      - dbdata:/var/lib/mysql
      - ./.docker/mysql:/docker-entrypoint-initdb.d

  stopunaises_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - stopunaises_mysql
    restart: always
    container_name: stopunaises_phpmyadmin
    environment:
      PMA_HOST: stopunaises_mysql
      PMA_PORT: 3308
      PMA_USER: stopunaises
      PMA_PASSWORD: stopunaises
    ports:
      - 8091:80

  stopunaises_phpfpm:
    build: .docker/php-fpm
    container_name: stopunaises_phpfpm
    working_dir: /app
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MAILER_DSN: ${MAILER_DSN}
    volumes:
      - .:/app/

  stopunaises_nginx:
    build: .docker/nginx
    depends_on:
      - stopunaises_phpfpm
    container_name: stopunaises_nginx
    working_dir: /app
    volumes:
      - .:/app/
      - ./.scalingo/nginx/server.location:/etc/nginx/conf.d/server.location
    ports:
      - 8090:80

  stopunaises_mailer:
    image: schickling/mailcatcher
    container_name: stopunaises_mailer
    ports:
      - 1035:1025
      - 1090:1080

  stopunaises_redis:
    image: redis:7.2.7-alpine
    container_name: stopunaises_redis

  stopunaises_clamav:
    image: clamav/clamav
    container_name: stopunaises_clamav
    volumes:
      - .:/app/
volumes:
  dbdata:
