{% extends 'base.html.twig' %}

{% block title %}Signaler créé{% endblock %}

{% block body %}
<div class="creer-signalement">
    <div class="fr-p-5w">
        <h1>Créer un signalement</h1>
        <p>Ajoutez un signalement en complétant le formulaire ci-dessous. Une fois toutes les étapes passées, vous pourrez valider le signalement.</p>
    </div>

    <div class="fr-alert fr-alert--success">
        <h3 class="fr-alert__title">Le signalement a bien été enregistré.</h3>
    </div>
</div>
{% endblock %}
