{% extends 'base.html.twig' %}

{% block title %}Stop Punaises !{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bonjour !</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/emilschn/dev/betagouv/stop-punaises/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/emilschn/dev/betagouv/stop-punaises/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
