{% extends 'base-back.html.twig' %}

{% block title %}Les signalements usagers{% endblock %}

{% block body %}
<div class="liste-signalements fr-p-5w">
    <div class="fr-container">
        <h1>Signalements usagers</h1>

        <div class="fr-grid-row fr-grid-row--gutters" role="search">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-territoire-zip.html.twig" %}
                </div>

                <div class="fr-input-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="search-address">Ville ou CP</label>
                    <div class="fr-input-wrap fr-icon-search-line">
                        <input type="text" class="fr-input" id="search-address">
                    </div>
                </div>

                <div class="fr-input-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="filter-date">Date</label>
                    <input type="date" class="fr-input" id="filter-date">
                </div>
                
                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="filter-type">Type</label>
                    <select class="fr-select" id="filter-type">
                        <option value="" selected>Tous</option>
                        <option value="a-traiter">A traiter</option>
                        <option value="auto-traitement">Auto-traitement</option>
                    </select>
                </div>

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-niveau-infestation.html.twig" %}
                </div>

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="filter-etat-infestation">Etat infestation</label>
                    <select class="fr-select" id="filter-etat-infestation">
                        <option value="" selected>Tous</option>
                        <option value="infestation-resolu">Résolu</option>
                        <option value="infestation-nonresolu">Non résolu</option>
                    </select>
                </div>

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-statut.html.twig" %}
                </div>

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="filter-motif-cloture">Motif de clôture</label>
                    <select class="fr-select" id="filter-motif-cloture">
                        <option value="" selected>Tous</option>
                        <option value="motif-resolu">Problème résolu</option>
                        <option value="motif-refuse">Estimations refusées</option>
                        <option value="motif-arret">Arrêt usager</option>
                    </select>
                </div>

            {% else %}
                <div class="fr-input-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="filter-date">Date</label>
                    <input type="date" class="fr-input" id="filter-date">
                </div>

                <div class="fr-input-group fr-col-12 fr-col-lg-3">
                    <label class="fr-label" for="search-address">Ville ou CP</label>
                    <div class="fr-input-wrap fr-icon-search-line">
                        <input type="text" class="fr-input" id="search-address">
                    </div>
                </div>

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-statut.html.twig" %}
                </div>

                <div class="fr-select-group fr-col-12 fr-col-lg-3">
                    {% include "common/components/filters/filter-niveau-infestation.html.twig" %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="fr-container fr-mt-3w">
        <h2 id="liste-signalements-title" role="status"><span id="count-signalement">0 signalements trouvés</span></h2>

        <div class="fr-grid-row fr-grid-row--right fr-mb-5v">
            <div class="fr-select-group fr-col-12 fr-col-lg-3">
                <label class="fr-label" for="select-sort-table-by">
                    Trier la liste par
                </label>
                <select class="fr-select" id="select-sort-table-by" name="select">
                    <option value="" selected disabled hidden>Sélectionner une option</option>
                    <option value="0">Statut</option>
                    <option value="1">ID</option>
                    <option value="2">Date de création</option>
                    <option value="3">Infestation</option>
                    <option value="4">Commune</option>
                    {% if is_granted('ROLE_ADMIN') %}
                        <option value="5">Type</option>
                        <option value="6">Procédure</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <table id="datatable-ajax" class="liste-signalements-usagers nowrap" aria-labelledby="liste-signalements-title">
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>ID</th>
                    <th>Créé le</th>
                    <th>Infestation</th>
                    <th>Commune</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Type</th>
                        <th>Procédure</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
