{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Gérer l'entreprise{% endblock %}

{% block body %}
<div class="fiche-entreprise fr-p-5w">
    <h1>Entreprise non trouvée</h1>
</div>
{% endblock %}
