<nav>
    <div class="fr-input-group group-next">
        <button type="button" class="fr-btn btn-next">{{ next }}</button>
    </div>

    <div class="fr-input-group group-previous">
        <span>&lt;</span> <a href="#" class="link-back">{{ previous }}</a>
    </div>
</nav>