{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <div class="fr-stepper__steps" data-fr-current-step="5" data-fr-steps="8"></div>
    </div>

    <div class="align-center">
        <h2>Les insectes et larves</h2>

        <p>
            Dans cette partie, nous nous intéressons aux insectes&nbsp;:
            les punaises elles-mêmes mais aussi les larves et oeufs.
        </p>

        <p>
            <strong>Lisez bien les questions avant d'y répondre&nbsp;!</strong>
        </p>

        <p>
            Toutes les questions sont obligatoires, sauf mention contraire.
        </p>
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'C\'est parti !', 'previous': 'Retour' } %}
{% endblock %}