{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="word-wrap">
        <h1 class="fr-h2">Prise en charge professionnelle</h1>

        <p>
            Vous avez choisi la prise en charge professionnelle.
        </p>

        <p>
            Stop Punaises va transmettre votre demande à des entreprises certifiées qui vous contacteront
            pour planifier une intervention.
        </p>

        <p>
            Nous vous transmettrons également par email un protocole pour préparer au mieux
            votre logement avant l'intervention.<br>
            Cet email va être envoyé à l'adresse <span id="professionnel-email"></span>
        </p>
    </div>

    <nav>
        <div class="fr-input-group group-next">
            <button type="button" class="fr-btn btn-next-next">Envoyer ma demande</button>
        </div>

        <div class="fr-input-group group-previous">
            <button type="button" class="fr-btn fr-btn--tertiary-no-outline link-back">Retour</a>
        </div>
    </nav>
{% endblock %}
