<div id="step-home" class="step-item current-step">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-6">
            <h1 class="fr-h4">J'ai un problème de punaises de lit dans mon logement</h1>

            <p>
                <span>Vous pensez avoir des punaises de lit dans votre logement ? Renseignez votre code postal et laissez-vous guider.</span>
            </p>

            <div class="fr-input-group">
                <label class="fr-label" for="code-postal">Code postal</label>
                <input class="fr-input"
                       id="code-postal"
                       name="code-postal"
                       placeholder="Exemple : 69002"
                       required
                       type="text"
                       maxlength=5
                       minlength=5
                       autocomplete="postal-code">
                <p class="fr-error-text fr-hidden">
                    Veuillez renseigner votre code postal.
                </p>
            </div>

            <div class="fr-input-group align-center">
                <button type="button" class="fr-btn btn-next">
                    C'est parti !
                </button>
            </div>
        </div>
    </div>
</div>
