{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    {% import "common/components/macro-forms.html.twig" as forms %}
    <div class="fr-stepper">
        <h1 class="fr-stepper__title fr-h2">
            Durée de l'infestation
            <span class="fr-stepper__state">Étape 2 sur 8</span>
        </h1>
        <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="8"></div>
        <p class="fr-stepper__details">
            <span class="fr-text--bold">Étape suivante :</span> Les traces de punaises
        </p>
    </div>

    {{ forms.radio_choice(form.dureeInfestation, 'Veuillez renseigner la durée d\'infestation.') }}

    {{ forms.radio_choice(form.infestationLogementsVoisins, 'Veuillez renseigner si il y a une infestation dans les logements voisins.') }}

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}
