{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="8"></div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.dureeInfestation) }}
            {{ form_widget(form.dureeInfestation) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner la durée d'infestation.
            </p>
        </div>
    </div>

    <div class="fr-form-group">
        <div class="fr-select-group">
            {{ form_label(form.infestationLogementsVoisins) }}
            {{ form_widget(form.infestationLogementsVoisins) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner si il y a une infestation dans les logements voisins.
            </p>
        </div>
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}