{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <h2 class="fr-stepper__title">
            Informations du logement
            <span class="fr-stepper__state">Étape 1 sur 8</span>
        </h2>
        <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="8"></div>
        <p class="fr-stepper__details">
            <span class="fr-text--bold">Étape suivante :</span> Durée de l'infestation
        </p>
    </div>

    {% include 'common/components/form/list-radio-buttons.html.twig' with {
        'name': 'locataire',
        'displayLabel': true,
        'formObject': form.locataire,
        'errorLabel': 'Veuillez renseigner si vous êtes propriétaire ou locataire.'
    } %}

    <div id="form-group-nomProprietaire" class="fr-form-group">
        <div class="fr-input-group">
            {{ form_label(form.nomProprietaire) }}
            {{ form_widget(form.nomProprietaire) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner le nom du bailleur / propriétaire.
            </p>
        </div>
    </div>

    {% include 'common/components/form/list-radio-buttons.html.twig' with {
        'name': 'logementSocial',
        'displayLabel': true,
        'formObject': form.logementSocial,
        'errorLabel': 'Veuillez renseigner si vous vivez dans un logement social.'
    } %}

    {% include 'common/components/form/list-radio-buttons.html.twig' with {
        'name': 'allocataire',
        'displayLabel': true,
        'formObject': form.allocataire,
        'errorLabel': 'Veuillez renseigner si vous touchez une allocation logement.'
    } %}

    <div id="form-group-numeroAllocataire" class="fr-form-group">
        <div class="fr-input-group">
            {{ form_label(form.numeroAllocataire) }}
            {{ form_widget(form.numeroAllocataire) }}
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner votre numéro d'allocataire.
            </p>
        </div>
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}