{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <h1 class="fr-stepper__title fr-h2">
            Les déjections
            <span class="fr-stepper__state">Étape 4 sur 8</span>
        </h1>
        <div class="fr-stepper__steps" data-fr-current-step="4" data-fr-steps="8"></div>
        <p class="fr-stepper__details">
            <span class="fr-text--bold">Étape suivante :</span> Les insectes et larves
        </p>
    </div>

    <dialog aria-labelledby="fr-modal-title-modal-dejections" id="fr-modal-dejections" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-dejections" type="button">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-dejections" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Les déjections</h1>
                            <p>
                                Les déjections (ou crottes) de punaises de lit ressemblent à des petits points noirs qui auraient
                                été faits par un stylo. Leur taille est variable en fonction de l'endroit où on les trouve.
                                Des concentrations de leurs déjections peuvent être observées sur les matelas, lattes ou fentes du
                                sommier, bois du lit, plinthes, angles des murs…
                            </p>

                            <div class="fr-grid-row fr-grid-row--gutters images-container">
                                <div class="fr-col-12 fr-col-lg-6 align-center">
                                    <img src="{{ asset('build/images/dejections-punaise-sommier.jpg') }}" alt="Déjections et œufs de punaises de lit sur un sommier">
                                    <br>
                                    <span class="image-caption">Déjections et œufs de punaises de lit sur un sommier</span>
                                </div>
                                <div class="fr-col-12 fr-col-lg-6 align-center">
                                    <img src="{{ asset('build/images/dejection-punaises-matelas.jpg') }}" alt="Déjections de punaises de lit dans la couture d'un matelas">
                                    <br>
                                    <span class="image-caption">Déjections de punaises de lit dans la couture d'un matelas</span>
                                </div>
                            </div>
                            <div class="align-center fr-my-3w">
                                <span class="image-caption">Crédit photo : INELP</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

    <fieldset class="fr-fieldset" id="signalement_front_dejectionsTrouvees" aria-labelledby="signalement_front_dejectionsTrouvees_legend">
        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="signalement_front_dejectionsTrouvees_legend">
            <label class="fr-label">
                J'ai trouvé des <span class="underline">déjections</span> de punaises
                <br>
                <a href="#" class="info" data-fr-opened="false" aria-controls="fr-modal-dejections">Plus d'informations</a>
            </label>
        </legend>
        <div class="fr-fieldset__element">
            <div class="fr-radio-group">
                <input type="radio" id="signalement_front_dejectionsTrouvees_0" name="signalement_front[dejectionsTrouvees]" required="required" value="true">
                <label for="signalement_front_dejectionsTrouvees_0" class="required">Oui</label>
            </div>
        </div>
        <div class="fr-fieldset__element">
            <div class="fr-radio-group">
                <input type="radio" id="signalement_front_dejectionsTrouvees_1" name="signalement_front[dejectionsTrouvees]" required="required" value="false">
                <label for="signalement_front_dejectionsTrouvees_1" class="required">Non</label>
            </div>
        </div>
        <p id="signalement_front_dejectionsTrouvees-error" class="fr-error-text fr-hidden">
            Veuillez renseigner si vous avez trouvé des déjections.
        </p>
    </fieldset>

    <div id="form-group-dejectionsNombrePiecesConcernees">
        <fieldset class="fr-fieldset" id="signalement_front_dejectionsNombrePiecesConcernees" aria-labelledby="signalement_front_dejectionsNombrePiecesConcernees_legend">
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="signalement_front_dejectionsNombrePiecesConcernees_legend">
                <label class="fr-label">
                    Dans combien de pièces ?
                </label>
            </legend>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_dejectionsNombrePiecesConcernees_0" name="signalement_front[dejectionsNombrePiecesConcernees]" required="required" value="1">
                    <label for="signalement_front_dejectionsNombrePiecesConcernees_0" class="required">1 pièce</label>
                </div>
            </div>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_dejectionsNombrePiecesConcernees_1" name="signalement_front[dejectionsNombrePiecesConcernees]" required="required" value="2">
                    <label for="signalement_front_dejectionsNombrePiecesConcernees_1" class="required">2 pièces ou +</label>
                </div>
            </div>
            <p id="signalement_front_dejectionsNombrePiecesConcernees-error" class="fr-error-text fr-hidden">
                Veuillez renseigner le nombre de pièces concernées.
            </p>
        </fieldset>
    </div>

    <div id="form-group-dejectionsFaciliteDetections">
        <fieldset class="fr-fieldset" id="signalement_front_dejectionsFaciliteDetections" aria-labelledby="signalement_front_dejectionsFaciliteDetections_legend">
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="signalement_front_dejectionsFaciliteDetections_legend">
                <label class="fr-label">
                    Je trouve les déjections…
                </label>
            </legend>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_dejectionsFaciliteDetections_0" name="signalement_front[dejectionsFaciliteDetections]" required="required" value="FACILE">
                    <label for="signalement_front_dejectionsFaciliteDetections_0" class="required">Facilement</label>
                </div>
            </div>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_dejectionsFaciliteDetections_1" name="signalement_front[dejectionsFaciliteDetections]" required="required" value="RECHERCHE">
                    <label for="signalement_front_dejectionsFaciliteDetections_1" class="required">En cherchant bien</label>
                </div>
            </div>
            <p id="signalement_front_dejectionsFaciliteDetections-error" class="fr-error-text fr-hidden">
                Veuillez renseigner comment vous trouvez les déjections.
            </p>
        </fieldset>
    </div>

    <div id="form-group-dejectionsLieuxObservations" class="fr-form-group">
        <fieldset class="fr-fieldset" id="signalement_front_dejectionsLieuxObservations_checkboxes" aria-labelledby="signalement_front_dejectionsLieuxObservations_legend">
            <legend class="fr-fieldset__legend" id="signalement_front_dejectionsLieuxObservations_legend">
                Je les vois sur…
                <br>
                <em class="fr-fieldset__legend--regular">Plusieurs réponses possibles</em>
            </legend>
            <div id="signalement_front_dejectionsLieuxObservations">
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[dejectionsLieuxObservations][]" id="signalement_front_dejectionsLieuxObservations_0" type="checkbox" value="LIT">
                        <label for="signalement_front_dejectionsLieuxObservations_0">
                            Le lit
                        </label>
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[dejectionsLieuxObservations][]" id="signalement_front_dejectionsLieuxObservations_1" type="checkbox" value="CANAPE">
                        <label for="signalement_front_dejectionsLieuxObservations_1">
                            Le canapé
                        </label>
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[dejectionsLieuxObservations][]" id="signalement_front_dejectionsLieuxObservations_2" type="checkbox" value="MEUBLES">
                        <label for="signalement_front_dejectionsLieuxObservations_2">
                            Des meubles
                        </label>
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[dejectionsLieuxObservations][]" id="signalement_front_dejectionsLieuxObservations_3" type="checkbox" value="MURS">
                        <label for="signalement_front_dejectionsLieuxObservations_3">
                            Les murs
                        </label>
                    </div>
                </div>
            </div>
            <p id="signalement_front_dejectionsLieuxObservations-error" class="fr-error-text fr-messages-group fr-hidden">
                Veuillez renseigner les endroits où vous les voyez.
            </p>
        </fieldset>
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}
