<section id="step-1" class="step-item current-step">
    <h1>Punaises de lit</h1>

    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
            <p>
                <span class="bons-reflexes">Ayez les bons gestes&nbsp;!</span>
                <br>
                <span>Le site officiel de l'Etat Français pour lutter contre les infestations de punaises de lit&nbsp;!</span>
            </p>

            <div class="fr-input-group">
                <input class="fr-input" id="code-postal" name="code-postal" placeholder="Code postal" required>
                <p class="fr-error-text fr-hidden">
                    Veuillez renseigner votre code postal.
                </p>
            </div>

            <div class="fr-input-group">
                <button type="button" class="fr-btn btn-next">
                    Signaler mon problème de punaises
                </button>
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6">
            <img src="{{ asset('build/images/loupe-punaise.png') }}" alt="illustration punaises">
        </div>
    </div>
</section>
