{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <h2 class="fr-stepper__title">
            Votre recommandation
            <span class="fr-stepper__state">Étape 8 sur 8</span>
        </h2>
        <div class="fr-stepper__steps" data-fr-current-step="8" data-fr-steps="8"></div>
    </div>

    <div class="fr-mb-4w">
        <h2 class="fr-h4">Récapitulatif</h2>
        <div class="fr-grid-row">
            <div class="fr-col-8">
                <h3 class="fr-h6">Informations générales</h3>
            </div>
            <div class="fr-col-4 align-right">
                <a href="#" class="link-edit" data-step="info_logement">Editer</a>
            </div>
        </div>
        <div>Type de logement : <span id="recapTypeLogement"></span></div>
        <div>Superficie : <span id="recapSuperficie"></span></div>
        <div>Adresse : <span id="recapAdresse"></span> <span id="recapCodePostal"></span> <span id="recapVille"></span></div>
        <hr>
        <div>Je suis : <span id="recapLocataire"></span></div>
        <div id="recapNomProprietaireContainer">Bailleur : <span id="recapNomProprietaire"></span></div>
        <div>Logement social : <span id="recapLogementSocial"></span></div>
        <div>Allocation logement : <span id="recapAllocataire"></span></div>
        <div id="recapNumeroAllocataireContainer">N° allocataire : <span id="recapNumeroAllocataire"></span></div>
        <hr>
        <div>Infestation en cours depuis : <span id="recapDureeInfestation"></span></div>
        <div>Logements voisins concernés : <span id="recapInfestationLogementsVoisins"></span></div>

        <div class="fr-grid-row fr-mt-2w">
            <div class="fr-col-8">
                <h3 class="fr-h6">Informations sur l'infestation</h3>
            </div>
            <div class="fr-col-4 align-right">
                <a href="#" class="link-edit" data-step="traces_punaises_piqures">Editer</a>
            </div>
        </div>
        <div>Traces de punaises : <span id="recapPiquresExistantes"></span></div>
        <div id="recapPiquresConfirmeesContainer">Piqûres : <span id="recapPiquresConfirmees"></span></div>
        <hr>
        <div>Déjections trouvées : <span id="recapDejectionsTrouvees"></span></div>
        <div class="isDejectionsTrouvees">Nombre de pièces concernées : <span id="recapDejectionsNombrePiecesConcernees"></span></div>
        <div class="isDejectionsTrouvees">Je les trouve : <span id="recapDejectionsFaciliteDetections"></span></div>
        <div class="isDejectionsTrouvees">Lieux d'observations : <span id="recapDejectionsLieuxObservations"></span></div>
        <hr>
        <div>Oeufs et larves trouvés : <span id="recapOeufsEtLarvesTrouves"></span></div>
        <div class="isOeufsEtLarvesTrouves">Nombre de pièces concernées : <span id="recapOeufsEtLarvesNombrePiecesConcernees"></span></div>
        <div class="isOeufsEtLarvesTrouves">Je les trouve : <span id="recapOeufsEtLarvesFaciliteDetections"></span></div>
        <div class="isOeufsEtLarvesTrouves">Lieux d'observations : <span id="recapOeufsEtLarvesLieuxObservations"></span></div>
        <hr>
        <div>Punaises dans le logement : <span id="recapPunaisesTrouvees"></span></div>
        <div class="isPunaisesTrouvees">Nombre de pièces concernées : <span id="recapPunaisesNombrePiecesConcernees"></span></div>
        <div class="isPunaisesTrouvees">Je les trouve : <span id="recapPunaisesFaciliteDetections"></span></div>
        <div class="isPunaisesTrouvees">Lieux d'observations : <span id="recapPunaisesLieuxObservations"></span></div>

        <div class="fr-grid-row fr-mt-2w">
            <div class="fr-col-8">
                <h3 class="fr-h6">Coordonnées</h3>
            </div>
            <div class="fr-col-4 align-right">
                <a href="#" class="link-edit" data-step="info_usager">Editer</a>
            </div>
        </div>
        <div>Nom : <span id="recapNomOccupant"></span></div>
        <div>Prénom : <span id="recapPrenomOccupant"></span></div>
        <div>Téléphone : <span id="recapTelephoneOccupant"></span></div>
        <div>Email : <span id="recapEmailOccupant"></span></div>

    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Valider mes informations', 'previous': 'Retour' } %}
{% endblock %}