<nav class="fr-mt-3v align-center">
    <div class="fr-input-group group-next">
        <button type="button" class="fr-btn btn-next">{{ next }}</button>
    </div>

    <div class="fr-input-group group-previous">
        <button type="button" class="fr-btn fr-btn--tertiary-no-outline link-back">{{ previous }}</button>
    </div>
</nav>