{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <h1 class="fr-stepper__title fr-h2">
            Les punaises
            <span class="fr-stepper__state">Étape 6 sur 8</span>
        </h1>
        <div class="fr-stepper__steps" data-fr-current-step="6" data-fr-steps="8"></div>
        <p class="fr-stepper__details">
            <span class="fr-text--bold">Étape suivante :</span> Vos coordonnées
        </p>
    </div>

    <dialog aria-labelledby="fr-modal-title-modal-punaises" id="fr-modal-punaises" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-punaises" type="button">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-punaises" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Les punaises</h1>
                            <p>
                                Les punaises de lit sont visibles à l'œil nu. Elles sont ovales et font la taille d’un pépin de pomme.
                                Une punaise adulte mesure entre 5 et 7 mm de long. Elles sont de couleur brune et, une fois qu'elles vous
                                ont piqué, elles prennent une teinte rouge foncé. Elles n'ont pas d'aile, ne sautent pas et ne volent pas.
                            </p>

                            <div class="fr-grid-row fr-grid-row--gutters images-container">
                                <div class="fr-col-12 fr-col-lg-6 align-center">
                                    <img src="{{ asset('build/images/punaises-de-lit-gros-plan.jpg') }}" alt="Gros plan d'une punaise de lit">
                                    <br>
                                    <span class="image-caption">Gros plan d'une punaise de lit</span>
                                </div>
                                <div class="fr-col-12 fr-col-lg-6 align-center">
                                    <img src="{{ asset('build/images/punaises-lit-adultes-matelas.jpg') }}" alt="Punaises de lit adulte sur un matelas">
                                    <br>
                                    <span class="image-caption">Punaises de lit adulte sur un matelas</span>
                                </div>
                            </div>
                            <div class="align-center fr-my-3w">
                                <span class="image-caption">Crédit photo : INELP</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

    <fieldset class="fr-fieldset" id="signalement_front_punaisesTrouvees" aria-labelledby="signalement_front_punaisesTrouvees_legend">
        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="signalement_front_punaisesTrouvees_legend">
            <label class="fr-label">
                Il y a des punaises dans mon logement
                <br>
                <a href="#" class="info" data-fr-opened="false" aria-controls="fr-modal-punaises">Plus d'informations</a>
            </label>
        </legend>
        <div class="fr-fieldset__element">
            <div class="fr-radio-group">
                <input type="radio" id="signalement_front_punaisesTrouvees_0" name="signalement_front[punaisesTrouvees]" required="required" value="true">
                <label for="signalement_front_punaisesTrouvees_0" class="required">Oui</label>
            </div>
        </div>
        <div class="fr-fieldset__element">
            <div class="fr-radio-group">
                <input type="radio" id="signalement_front_punaisesTrouvees_1" name="signalement_front[punaisesTrouvees]" required="required" value="false">
                <label for="signalement_front_punaisesTrouvees_1" class="required">Non</label>
            </div>
        </div>
        <p id="signalement_front_punaisesTrouvees-error" class="fr-error-text fr-hidden">
            Veuillez renseigner si vous avez trouvé des punaises de lit.
        </p>
    </fieldset>

    <div id="form-group-punaisesNombrePiecesConcernees">
        <fieldset class="fr-fieldset" id="signalement_front_punaisesNombrePiecesConcernees" aria-labelledby="signalement_front_punaisesNombrePiecesConcernees_legend">
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="signalement_front_punaisesNombrePiecesConcernees_legend">
                <label class="fr-label">
                    Dans combien de pièces ?
                </label>
            </legend>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_punaisesNombrePiecesConcernees_0" name="signalement_front[punaisesNombrePiecesConcernees]" required="required" value="1">
                    <label for="signalement_front_punaisesNombrePiecesConcernees_0" class="required">1 pièce</label>
                </div>
            </div>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_punaisesNombrePiecesConcernees_1" name="signalement_front[punaisesNombrePiecesConcernees]" required="required" value="2">
                    <label for="signalement_front_punaisesNombrePiecesConcernees_1" class="required">2 pièces ou +</label>
                </div>
            </div>
            <p id="signalement_front_punaisesNombrePiecesConcernees-error" class="fr-error-text fr-hidden">
                Veuillez renseigner le nombre de pièces concernées.
            </p>
        </fieldset>
    </div>

    <div id="form-group-punaisesFaciliteDetections">
        <fieldset class="fr-fieldset" id="signalement_front_punaisesFaciliteDetections" aria-labelledby="signalement_front_punaisesFaciliteDetections_legend">
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="signalement_front_punaisesFaciliteDetections_legend">
                <label class="fr-label">
                    Je trouve des punaises de lit…
                </label>
            </legend>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_punaisesFaciliteDetections_0" name="signalement_front[punaisesFaciliteDetections]" required="required" value="FACILE">
                    <label for="signalement_front_punaisesFaciliteDetections_0" class="required">Facilement</label>
                </div>
            </div>
            <div class="fr-fieldset__element">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_front_punaisesFaciliteDetections_1" name="signalement_front[punaisesFaciliteDetections]" required="required" value="RECHERCHE">
                    <label for="signalement_front_punaisesFaciliteDetections_1" class="required">En cherchant bien</label>
                </div>
            </div>
            <p id="signalement_front_punaisesFaciliteDetections-error" class="fr-error-text fr-hidden">
                Veuillez renseigner comment vous trouvez les punaises de lit.
            </p>
        </fieldset>
    </div>

    <div id="form-group-punaisesLieuxObservations" class="fr-form-group">
        <fieldset class="fr-fieldset" id="signalement_front_punaisesLieuxObservations_checkboxes" aria-labelledby="signalement_front_punaisesLieuxObservations_legend">
            <legend class="fr-fieldset__legend" id="signalement_front_punaisesLieuxObservations_legend">
                Je les vois sur…
                <br>
                <em class="fr-fieldset__legend--regular">Plusieurs réponses possibles</em>
            </legend>
            <div id="signalement_front_punaisesLieuxObservations">
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[punaisesLieuxObservations][]" id="signalement_front_punaisesLieuxObservations_0" type="checkbox" value="LIT">
                        <label for="signalement_front_punaisesLieuxObservations_0">
                            Le lit
                        </label>
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[punaisesLieuxObservations][]" id="signalement_front_punaisesLieuxObservations_1" type="checkbox" value="CANAPE">
                        <label for="signalement_front_punaisesLieuxObservations_1">
                            Le canapé
                        </label>
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[punaisesLieuxObservations][]" id="signalement_front_punaisesLieuxObservations_2" type="checkbox" value="MEUBLES">
                        <label for="signalement_front_punaisesLieuxObservations_2">
                            Des meubles
                        </label>
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    <div class="fr-checkbox-group">
                        <input name="signalement_front[punaisesLieuxObservations][]" id="signalement_front_punaisesLieuxObservations_3" type="checkbox" value="MURS">
                        <label for="signalement_front_punaisesLieuxObservations_3">
                            Les murs
                        </label>
                    </div>
                </div>
            </div>
            <p id="signalement_front_punaisesLieuxObservations-error" class="fr-error-text fr-messages-group fr-hidden">
                Veuillez renseigner les endroits où vous les voyez.
            </p>
        </fieldset>
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}
