{% extends 'front_signalement/base_step.html.twig' %}

{% block content %}
    <div class="fr-stepper">
        <div class="fr-stepper__steps" data-fr-current-step="4" data-fr-steps="8"></div>
    </div>

    <dialog aria-labelledby="fr-modal-title-modal-dejections" id="fr-modal-dejections" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-dejections" type="button">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-dejections" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Les déjections</h1>
                            <p>
                                Les déjections (ou crottes) de punaises de lit ressemblent à des petits points noirs qui auraient
                                été faits par un stylo. Leur taille est variable en fonction de l'endroit où on les trouve.
                                Des concentrations de leurs déjections peuvent être observées sur les matelas, lattes ou fentes du
                                sommier, bois du lit, plinthes, angles des murs…
                            </p>

                            <div class="fr-grid-row fr-grid-row--gutters images-container">
                                <div class="fr-col-12 fr-col-lg-6 align-center">
                                    <img src="{{ asset('build/images/dejections-punaise-sommier.jpg') }}" alt="Déjections et œufs de punaises de lit sur un sommier">
                                    <br>
                                    <span class="image-caption">Déjections et œufs de punaises de lit sur un sommier</span>
                                </div>
                                <div class="fr-col-12 fr-col-lg-6 align-center">
                                    <img src="{{ asset('build/images/dejection-punaises-matelas.jpg') }}" alt="Déjections de punaises de lit dans la couture d'un matelas">
                                    <br>
                                    <span class="image-caption">Déjections de punaises de lit dans la couture d'un matelas</span>
                                </div>
                            </div>
                            <div class="align-center fr-my-3w">
                                <span class="image-caption">Crédit photo : INELP</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

    <div class="fr-form-group">
        <div class="fr-select-group">
            <label class="fr-label required">
                J'ai trouvé des <span class="underline">déjections</span> de punaises
                <br>
                <a href="#" class="info" data-fr-opened="false" aria-controls="fr-modal-dejections">Plus d'informations</a>
            </label>
            <div id="signalement_front_dejectionsTrouvees" class="fr-radio fr-mt-3v">
                <input type="radio" id="signalement_front_dejectionsTrouvees_0" name="signalement_front[dejectionsTrouvees]" required="required" value="true">
                <label for="signalement_front_dejectionsTrouvees_0" class="required">Oui</label>
                <input type="radio" id="signalement_front_dejectionsTrouvees_1" name="signalement_front[dejectionsTrouvees]" required="required" value="false">
                <label for="signalement_front_dejectionsTrouvees_1" class="required">Non</label>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner si vous avez trouvé des déjections.
            </p>
        </div>
    </div>

    <div id="form-group-dejectionsNombrePiecesConcernees" class="fr-form-group">
        <div class="fr-select-group">
            <label class="fr-label required">Dans combien de pièces ?</label>
            <div id="signalement_front_dejectionsNombrePiecesConcernees" class="fr-radio">
                <input type="radio" id="signalement_front_dejectionsNombrePiecesConcernees_0" name="signalement_front[dejectionsNombrePiecesConcernees]" required="required" value="1">
                <label for="signalement_front_dejectionsNombrePiecesConcernees_0" class="required">1 pièce</label>
                <input type="radio" id="signalement_front_dejectionsNombrePiecesConcernees_1" name="signalement_front[dejectionsNombrePiecesConcernees]" required="required" value="2">
                <label for="signalement_front_dejectionsNombrePiecesConcernees_1" class="required">2 pièces ou +</label>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner le nombre de pièces concernées.
            </p>
        </div>
    </div>

    <div id="form-group-dejectionsFaciliteDetections" class="fr-form-group">
        <div class="fr-select-group">
            <label class="fr-label required">Je trouve les déjections...</label>
            <div id="signalement_front_dejectionsFaciliteDetections" class="fr-radio">
                <input type="radio" id="signalement_front_dejectionsFaciliteDetections_0" name="signalement_front[dejectionsFaciliteDetections]" required="required" value="FACILE">
                <label for="signalement_front_dejectionsFaciliteDetections_0" class="required">Facilement</label>
                <input type="radio" id="signalement_front_dejectionsFaciliteDetections_1" name="signalement_front[dejectionsFaciliteDetections]" required="required" value="RECHERCHE">
                <label for="signalement_front_dejectionsFaciliteDetections_1" class="required">En cherchant bien</label>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner comment vous trouvez les déjections.
            </p>
        </div>
    </div>

    <div id="form-group-dejectionsLieuxObservations" class="fr-form-group">
        <div class="fr-select-group">
            <label class="fr-label required">Je les vois sur...</label>
            <em>Plusieurs réponses possibles</em>
            <div id="signalement_front_dejectionsLieuxObservations" class="fr-radio">
                <input type="checkbox" id="signalement_front_dejectionsLieuxObservations_0" name="signalement_front[dejectionsLieuxObservations][]" value="LIT">
                <label for="signalement_front_dejectionsLieuxObservations_0">Le lit</label>
                <input type="checkbox" id="signalement_front_dejectionsLieuxObservations_1" name="signalement_front[dejectionsLieuxObservations][]" value="CANAPE">
                <label for="signalement_front_dejectionsLieuxObservations_1">Le canapé</label>
                <input type="checkbox" id="signalement_front_dejectionsLieuxObservations_2" name="signalement_front[dejectionsLieuxObservations][]" value="MEUBLES">
                <label for="signalement_front_dejectionsLieuxObservations_2">Des meubles</label>
                <input type="checkbox" id="signalement_front_dejectionsLieuxObservations_3" name="signalement_front[dejectionsLieuxObservations][]" value="MURS">
                <label for="signalement_front_dejectionsLieuxObservations_3">Les murs</label>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez renseigner les endroits où vous les voyez.
            </p>
        </div>
    </div>

    {% include 'front_signalement/_partial_signalement_navigation_container.html.twig' with {'next': 'Suivant', 'previous': 'Précédent' } %}
{% endblock %}