{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Signaler mon problème{% endblock %}

{% block body %}

<form action="{{ path('app_front_signalement_add') }}" class="front-signalement fr-container fr-my-3w">

    {% for i in 1..16 %}
        {% include 'front_signalement/_partial_step_' ~ i ~ '.html.twig' with {'index': i} %}
    {% endfor %}

</form>

{% endblock %}
