{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Signaler un problème de punaises de lit{% endblock %}

{% block body %}

<form class="front-signalement fr-container fr-my-3w">

    {% for i in 1..11 %}
        {% include 'front_signalement/_partial_step_' ~ i ~ '.html.twig' with {'index': i} %}
    {% endfor %}

</form>

{% endblock %}
