.fr-input[type="date"] {
    --data-uri-svg: none;
}

span.niveau-infestation {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 2px;
    border-radius: 20px;
    color: var(--grey-1000-50);

    &.niveau-0 {
        background-color: var(--success-425-625);
    }
    &.niveau-1 {
        background-color: var(--orange-terre-battue-main-645);
        color: var(--grey-200-850);
    }
    &.niveau-2 {
        background-color: var(--warning-425-625);
    }
    &.niveau-3 {
        background-color: var(--error-425-625);
    }
    &.niveau-4 {
        background-color: var(--grey-50-1000);
    }
}

span.motif-cloture {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 2px;
    border-radius: 20px;
    color: var(--grey-1000-50);

    &.motif-cloture-resolved {
        background-color: #000091;
    }
    &.motif-cloture-other-entreprise {
        background-color: #000000;
    }
}

span.statut-infestation {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 2px;
    border-radius: 20px;
    color: var(--grey-1000-50);

    &.statut-infestation-resolved {
        background-color: #000091;
    }
}

.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}

.add-button-container {
    float: right;
}

.grey-bg {
    background-color: var(--grey-975-75);
}

.dataTables_wrapper {
    table {
        width: 100%;
        td.button-view {
            .fr-btn.fr-icon-arrow-right-fill, .fr-btn.fr-icon-pencil-line {
                display: inline-block;
                border-radius: 20px;
                min-height: 1.5rem;

                &::before {
                    margin-right: 0px;
                }
            }
        }
    }

    .dataTables_filter {
        display: none;
    }
    .dataTables_paginate .paginate_button {
        border: 0px;
        color: #161616;
        background: none;
        padding: 0.2em 0.7em;
    }
    .dataTables_paginate .paginate_button.current {
        border: 0px;
        background: var(--blue-france-850-200);
    }
    .dataTables_paginate .paginate_button:hover {
        color: #161616 !important;
        background-color: #E5E5E5;

    }
}

.fr-header {
    .fr-header__menu-links {
        &::after {
            display: none;
        }
    
        ul.fr-btns-group {
            li {
                border-bottom: 1px solid var(--border-default-grey);
                margin-bottom: 6px;

                &.active {
                    a {
                        color: var(--red-marianne-main-472);
                    }
                }
    
                a.fr-btn {
                    justify-content: flex-start;
                    font-size: 1rem !important;
                    padding-left: 0px !important;
        
                    &.fr-icon-lock-line {
                        min-height: 1rem !important;
                    }
                }
            }
        }
    }
}

.dashboard-menu {
    position: relative;
    box-shadow: 0px 12px 8px -8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 12px 8px -8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 12px 8px -8px rgba(0, 0, 0, 0.15);
}

.search-address {
    #rechercheAdresse {
        padding: .5rem 1.5rem;
    }
    #rechercheAdresseIcon {
        position: relative;
        top: -32px;
        display: inline-block;

        .fr-icon-timer-line {
            display: none;
        }
    }
    #rechercheAdresseListe {
        position: absolute;
        display: none;
        border: 1px solid;
        background: #FFF;
        min-width: 300px;
        div {
            cursor: pointer;
            &:hover {
                background-color: #dde5ff;
            }
        }
    }
}

.fr-modal {
    p.align-center {
        a.fr-link--close {
            display: block;
            margin-left: 0px;
            color: inherit;
            background-image: none;

            &::after {
                --icon-size: 0rem;
            }
        }
    }

    textarea {
        width: 100%;
        height: 200px;
        border: 1px solid var(--grey-625-425);
        font-size: 0.8em;
    }

    .fr-btn {
        width: 100%;
        justify-content: center;
    }
}

.event-item {
    border-bottom: 1px solid #E5E5E5;

    .even-item-date {
        font-size: 0.9rem;
        font-style: italic;
        color: var(--grey-625-425);
    }

    h4 {
        margin: 0;
    }

    .event-item-action {
        text-align: right;
    }
}

.fr-btn {
    &.color-check {
        background-color: #1F8D49;
        &:hover {
            background-color: #1F8D49;
        }
    }
    &.color-close {
        background-color: var(--error-425-625);
        &:hover {
            background-color: var(--error-425-625);
        }
    }
}

.index-header {
    h1 {
        line-height: 1.5rem !important;
        color: var(--blue-france-sun-113-625);
    }
    p.bons-reflexes {
        line-height: 1.5rem !important;
        color: #E2241C;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .btn-next {
        width: 100%;
        justify-content: center;
    }
}

.index-tout-le-monde {
    background-color: var(--blue-france-975-75);

    > h2 {
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        color: var(--grey-50-1000);
    }
}

.index-cest-quoi {
    background-color: var(--blue-france-975-75);

    > h2 {
        color: var(--grey-50-1000);
    }
}

.message-list {

    &.message-scroll {
        max-height: 50vh;
        overflow: auto;
    }

    .message-item-header {
        text-align: right;
    }
    .message-item-date {
        font-size: 0.9rem;
        font-style: italic;
        color: var(--grey-625-425);
    }
    .message-item-content {
        p.bg-blue {
            background-color: var(--blue-cumulus-925-125);
        }

        p.bg-grey {
            background-color: var(--grey-950-125);
        }
    }

}

.images-container {
    img {
        max-width: 100%;
        max-height: 200px;
        height: auto;
    }
}

.video-container {
    text-align: center;

    video {
        max-width: 100%;
    }
}

span.image-caption {
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
    color: #666;
}

@media (max-width: 767px) {
    .index-header {
        text-align: center;
    }

    .index-cest-quoi {
        > h2 {
            text-align: left;
        }
    }
}

@media (max-width: 991px) {
    .index-tout-le-monde {
        .fr-grid-row {
            flex-direction: column-reverse;

            .video-container {
                margin-bottom: 12px;
            }

            .button-container {
                text-align: center;
            }
        }
    }
}
#map-signalements-view {
    content: '';
    z-index: 1000;
    line-height: 100vh;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.1);
}

.information-header {
    h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 800;
        text-align: center;
        color: var(--blue-france-sun-113-625);
    }
    iframe {
        max-width: 100%;
    }
}

.information-comment-reconnaitre-punaise {
    background-color: var(--blue-france-975-75);

    .fr-col-lg-3 {
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .fr-alert--warning {
        background: #B340001A 0% 0% no-repeat padding-box;
    }
    .fr-alert--info {
        background: #0063CB1A 0% 0% no-repeat padding-box;
    }
}

.information-comment-reconnaitre-infestation {
    .fr-col-lg-8 {
        .fr-col-4 {
            text-align: center;

            img {
                display: block;
                margin: auto;
                max-width: 225px;
                max-height: 175px;
                width: auto;
                height: auto;
            }

            span {
                font-size: 12px;
                line-height: 20px;
                font-style: italic;
                color: #666;
            }
        }
    }

    .fr-col-lg-4 {
        text-align: center;
        
        a{
            background: none;

            &::after {
                width: 0px;
            }
        }

        span.click-to-expand {
            font-style: italic;
            font-size: 12px;
            line-height: 20px;
            color: #666;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.information-evaluer {
    background-color: var(--blue-france-975-75);

    h2 {
        text-align: center;
    }

    > p {
        text-align: center;
    }

    .fr-container {
        > .fr-grid-row--gutters {
            .fr-col-lg-4:last-child {
                visibility: hidden;
            }

            .fr-col-2 {
                text-align: center;

                span {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-weight: bold;
                    vertical-align: middle;
                    border-radius: 15px;
                    background-color: #00A95F;

                    &.number-1 {
                        background-color: #E4794A;
                    }

                    &.number-2 {
                        background-color: #B34000;
                        color: #FFF;
                    }

                    &.number-3 {
                        background-color: #CE0500;
                        color: #FFF;
                    }

                    &.number-4 {
                        background-color: #161616;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.information-comment-eviter {
    .fr-col-lg-4 {
        text-align: center;

        a{
            background: none;

            &::after {
                width: 0px;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }

        span.click-to-expand {
            font-style: italic;
            font-size: 12px;
            line-height: 20px;
            color: #666;
        }
    }
}

.information-contact {
    background-color: var(--blue-france-975-75);
    text-align: center;

    .all-questions {
        font-size: 20px;
        line-height: 32px;
    }

    .fr-icon-phone-fill {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        color: #000091;

        &::before {
            margin-right: 5px;
        }
    }

    .local-phone-price {
        font-size: 12px;
        color: #3A3A3A;
    }
}

#contact-container {
    h1 {
        text-align: center;
        color: var(--blue-france-sun-113-625);
    }
}


@media (max-width: 767px) {
    .information-header {
        text-align: center;

        h1 {
            color: #161616;
        }
    }
    .information-comment-reconnaitre-punaise {
        h2 {
            text-align: center;
        }
    }

    .information-comment-reconnaitre-infestation {
        .fr-col-lg-8 {
            .fr-col-4 {
                img {
                    max-width: 100%;
                    max-height: 175px;
                }
            }
        }
    }

    .information-comment-reconnaitre-infestation, .information-comment-eviter {
        .no-accordions-group {
            display: none;
        }
    }
}
@media (min-width: 768px) {
    .information-comment-reconnaitre-infestation, .information-comment-eviter {
        .fr-accordions-group {
            display: none;
        }
    }
}

.tableau-de-bord {
    .fr-badges-group {
        position: relative;
        top: 20px;
    }
}

.creer-signalement {
    > div.fr-p-5w {
        background-color: var(--grey-975-75);
    }

    .fr-stepper {
        .fr-stepper__hidden {
            display: none;
        }
    }

    .column-label {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .fr-form-group-hidden, .fr-stepper__hidden {
        display: none;
    }

    .fr-radio-group {
        display: inline-block;
        margin-right: 10px;
    }

    .stepper-next {
        text-align: right;
    }
    .stepper-previous .fr-btn {
        float: right;
    }

    .display-if-diagnostic, .display-if-traitement, .display-if-biocide {
        display: none;
    }
}

.liste-signalements {
    .fr-container {
        .fr-input-wrap::before {
            right: 1rem;
        }

        .fr-input, .fr-select {
            background-color: var(--grey-1000-50);   
        }
    }

    .dataTables_wrapper {
        table {
            tbody {
                td{
                    &:nth-child(1) {
                        span {
                            display: none;
                        }
                    }
                    &:nth-child(3) {
                        span {
                            display: inline-block;
                            padding: 5px 10px;
                            border-radius: 20px;
                            background-color: var(--info-425-625);
                            color: var(--grey-1000-50);
                        }
                    }
                }
            }
        }
    }

    input[type=date] {
        width: 100%;
        line-height: 1.5rem;
        height: 2.5rem;
        background-color: white;
    }
}
@media (min-width: 992px) {
    .liste-signalements .fr-container .fr-input-wrap::before {
        top: -0.75rem;
    }
}

.fiche-signalement {
    h1 {
        font-size: 2rem;
    }

    .date-info {
        display: inline-block;
        margin-left: 10px;
    }

    .fr-tabs__panel {
        h2 {
            span.type-intervention {
                display: inline-block;
                padding: 5px 10px;
                border-radius: 20px;
                background-color: var(--info-425-625);
                color: var(--grey-1000-50);
                font-size: 0.8rem;
                line-height: 1.2rem;
            }
        }

        .edit-zone {
            background-color: var(--grey-1000-50);
            filter: drop-shadow(var(--raised-shadow));
            font-weight: normal;
        }
    }

    .fr-signalement-photos {
        .fr-col-6 {
            height: 200px;
            line-height: 200px;
            text-align: center;

            form {
                display: inline;

                .fr-icon-delete-line {
                    background: #E2241C;
                }
            }
        }
    }
}

.liste-entreprises {
    .fr-container {
        .fr-input-wrap::before {
            right: 1rem;
        }

        .fr-input, .fr-select {
            background-color: var(--grey-1000-50);   
        }
    }

    .dataTables_wrapper {
        table {
            tbody {
                td{
                    &:nth-child(2) {
                        span {
                            display: none;
                        }
                    }
                    &:nth-child(5) {
                        span {
                            display: inline-block;
                            padding: 5px 10px;
                            border-radius: 20px;
                            background-color: var(--info-425-625);
                            color: var(--grey-1000-50);
                        }
                    }
                }
            }
        }
    }
}

.fiche-entreprise {
    .btn-edit-container {
        text-align: right;

        .fr-icon-pencil-line {
            display: inline-block;
            border-radius: 20px;
            min-height: 1.5rem;
    
            &::before {
                margin-right: 0px;
            }
        }
    }

    .sublist-territories {
        span {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: var(--info-425-625);
            color: var(--grey-1000-50);
        }
    }

    .fr-col-lg-3 {
        text-align: right;
    }

    .sublist-employes {
        table {
            tr {
                td {
                    background-color: var(--grey-1000-50);
                }
            }
        }
    }
}

.front-signalement {
    .step-item {
        display: none;

        &.current-step {
            display: block;
        }

        .btn-next, .btn-next-next {
            width: 100%;
            justify-content: center;
        }

        nav {
            text-align: center;

            .group-previous {
                span {
                    font-size: 1.5rem;
                }
            }
        }

        .fr-label {
            font-weight: bold;
        }

        .fr-radio {
            input {
                margin-right: 10px;
            }
            label::after {
                content: "\a";
                white-space: pre;
            }
        }

        .fr-input-group {
            span.input-precision {
                display: block;
                float: right;
                margin-right: 5px;
                margin-top: -30px;
            }
        }
        
        label {
            span.underline {
                text-decoration: underline;
            }

            a.info {
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 10px;
                font-size: 11px;
                text-align: center;
                color: var(--blue-france-sun-113-625);
                border: 1px solid var(--blue-france-sun-113-625);
            }
        }
    }

    #step-home {
        h1 {
            font-size: 40px;
            font-weight: 800;
            text-align: center;
            color: var(--blue-france-sun-113-625);
        }

        p {
            text-align: center;

            span.bons-reflexes {
                font-size: 26px;
                line-height: 40px;
                font-weight: 800;
                color: #E2241C;
            }
        }
        
        div {
            img {
                max-width: 100%;
            }
        }
    }

    #step-info_logement {
        a.skip-search-address {
            color: var(--blue-france-sun-113-625);
        }
    }

    #step-recommandation {
        span.niveau-infestation {
            padding: 10px 17px;
            font-weight: bold;
        }
        div#niveau-infestation-txt {
            font-weight: bold;
        }
    }
}

.suivi-usager {
    .fr-btn {
        width: 100%;
        justify-content: center;

        &::after {
            --icon-size: 0rem;
        }
    }
}

.fr-background--white {
    background: white;
}

.leaflet-control-zoom a {
    background-image: none !important;
}