<figure role="group" class="fr-content-media">
    <video controls title="Tout savoir sur les punaises de lit">
        <source src="{{ asset('build/video/lutte-contre-les-punaises-de-lit.mp4') }}" type="video/mp4">
        <p>
            Votre navigateur ne prend pas en charge les vidéos HTML5.
            Voici <a href="{{ asset('build/video/lutte-contre-les-punaises-de-lit.mp4') }}" target="_blank">un lien pour télécharger la vidéo</a>.
        </p>
    </video>
    <figcaption class="fr-content-media__caption">
        Crédit vidéo : Citizen
    </figcaption>
</figure>
<div class="fr-transcription" id="transcription-video">
    <button
        class="fr-transcription__btn"
        aria-expanded="false"
        aria-controls="fr-transcription-collapse-transcription-video"
        data-fr-js-collapse-button="true"
        >
        Transcription
    </button>
    <div
        class="fr-collapse"
        id="fr-transcription-collapse-transcription-video"
        data-fr-js-collapse="true"
        >
        <div class="fr-transcription__footer">
            <div class="fr-transcription__actions-group">
            <button
                class="fr-btn--fullscreen fr-btn"
                aria-controls="fr-transcription-modal-transcription-video"
                aria-label="Agrandir la transcription"
                data-fr-opened="false"
                id="button-agrandir-video"
                data-fr-js-modal-button="true"
                >
                Agrandir
            </button>
            </div>
        </div>
        <div
            id="fr-transcription-modal-transcription-video"
            class="fr-modal"
            aria-labelledby="fr-transcription-modal-transcription-video-title"
            data-fr-js-modal="true"
            >
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                        <div class="fr-modal__body" data-fr-js-modal-body="true">
                            <div class="fr-modal__header">
                                <button
                                    class="fr-btn--close fr-btn"
                                    aria-controls="fr-transcription-modal-transcription-video"
                                    id="button-fermer-video"
                                    title="Fermer"
                                    data-fr-js-modal-button="true"
                                    >
                                    Fermer
                                </button>
                                </div>
                                <div class="fr-modal__content">
                                <h1
                                    id="fr-transcription-modal-transcription-video-title"
                                    class="fr-modal__title"
                                >
                                    Tout savoir sur les punaises de lit
                                </h1>
                                <div class="align-left">
                                    De la taille d'un pépin de pomme, visible à l'œil nu et généralement brune,
                                    les punaises de lit ne sautent pas, ne volent pas, et vivent principalement dans des endroits sombres,
                                    étroits et peu accessibles, comme la chambre à coucher.
                                    <br>
                                    Les piqûres ressemblent à des piqûres de moustiques et surviennent surtout la nuit, 
                                    quand les punaises de lit sont actives.
                                    <br>
                                    Si elles ne transmettent pas de maladies, elles peuvent causer des démangeaisons importantes,
                                    voire des réactions allergiques.
                                    <br>
                                    En cas d'infestation légère, je peux tenter d'y mettre fin par mes propres moyens.
                                    <br>
                                    Plusieurs solutions existent.
                                    <br>
                                    Laver le linge de lit et les vêtements qui le supportent en machine à plus de 60 degrés.
                                    <br>
                                    Passer le linge au moins 30 minutes au sèche-linge.
                                    <br>
                                    Aspirer les insectes, mettre au congélateur ses effets personnels et son linge de lit.
                                    <br>
                                    Brosser à sec ou avec un nettoyant de surface certains recoins ou tissus.
                                    <br>
                                    En revanche, les insecticides courants sont totalement inefficaces contre les punaises et
                                    peuvent présenter des risques pour la santé humaine.
                                    <br>
                                    En parallèle, j'informe immédiatement mon propriétaire de l'infestation pour étudier
                                    ensemble les réponses possibles.
                                    <br>
                                    En l'absence d'accords amiables, et si le propriétaire refuse de prendre en charge une intervention,
                                    j'ai la possibilité de saisir la commission de conciliation.
                                    <br>
                                    Je n'attends pas pour faire traiter mon logement à mes frais par un professionnel,
                                    tout en le notifiant au propriétaire.
                                    <br>
                                    Je pourrais ensuite me retourner contre lui pour me faire rembourser les frais occasionnés.
                                    <br>
                                    Avant d'intervenir, le professionnel procède à un entretien téléphonique préalable
                                    et me donne les consignes pour la préparation du logement.
                                    <br>
                                    Je les applique rigoureusement, même si cela me demande du temps.
                                    <br>
                                    Le professionnel procède à la désinfestation.
                                    <br>
                                    Pour plus d'informations, rendez-vous sur stop-punaises.gouv.fr ou appelez le 0806 706 806.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>