{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Signaler un problème de punaises de lit{% endblock %}

{% block body %}

<form class="front-signalement fr-container fr-my-3w">

    <section id="step-1" class="step-item current-step">
        <h1>Punaises de lit</h1>

        <p>
            <span class="bons-reflexes">Ayez les bons gestes&nbsp;!</span>
            <br>
            <span>Le site officiel de l'Etat Français pour lutter contre les infestations de punaises de lit&nbsp;!</span>
        </p>

        <div>
            <div class="fr-input-group">
                <input class="fr-input" id="code-postal" name="code-postal" placeholder="Code postal" required>
            </div>

            <div class="fr-input-group">
                <button type="button" class="fr-btn btn-next">
                    Signaler mon problème de punaises
                </button>
            </div>

            <div>
                <img src="{{ asset('build/images/loupe-punaise.png') }}" alt="illustration punaises">
            </div>
        </div>
    </section>

    <section id="step-2" class="step-item">
        <h2>Avant de commencer</h2>

        <p>
            Stop Punaises vous accompagne pour choisir la meilleure solution pour
            vous débarasser des punaises de lit&nbsp;!!
        </p>

        <p>
            Nous allons d'abord vous poser quelques questions générales sur la situation.
        </p>

        <p>
            <strong>Temps total estimé : 15 minutes</strong>
        </p>

        <p>
            Toutes les questions sont obligatoires, sauf mention contraire.
        </p>

        <div>
            <div class="fr-input-group">
                <button type="button" class="fr-btn btn-next">C'est parti !</button>
            </div>

            <div class="fr-input-group">
                <a href="#" class="link-back">Retour</a>
            </div>
        </div>
    </section>

</form>

{% endblock %}
