{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Signaler un problème de punaises de lit{% endblock %}

{% block body %}

    <section class="fr-container fr-mt-3w fr-mt-md-6w">
        <a class="{{ path('home') }}">Retour</a>
    </section>

{% endblock %}
