{% extends 'base.html.twig' %}

{% block title %}Signaler un problème de punaises de lit{% endblock %}

{% block body %}

    <section class="fr-container fr-mt-3w fr-mt-md-6w signalement-list-intro">
        <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
            <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
            <div class="fr-collapse" id="breadcrumb-1">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">Signaler un problème de punaises de lit</a>
                    </li>
                </ol>
            </div>
        </nav>

        <h1 class="fr-mt-5w">Signaler un problème de <span>punaises de lit</span> : dans quel lieu ?</h1>
    </section>

    <section class="fr-container fr-my-3w fr-my-md-6w signalement-list-items">
        <div class=" fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-4 fr-mt-5w fr-mt-md-3v">
                <div class="fr-tile fr-tile--sm fr-enlarge-link" id="tile-logement">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="{{ path('app_front_signalement_logement') }}">Dans mon logement</a>
                            </h3>
                            <p class="fr-tile__desc">Stop Punaises vous accompagne pour trouver une solution</p>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <image class="fr-artwork-decorative" href="/build/dsfr/artwork/pictograms/buildings/house.svg#artwork-decorative"></image>
                                <image class="fr-artwork-minor" href="/build/dsfr/artwork/pictograms/buildings/house.svg#artwork-minor"></image>
                                <image class="fr-artwork-major" href="/build/dsfr/artwork/pictograms/buildings/house.svg#artwork-major"></image>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            {% if feature_three_forms %}
            <div class="fr-col-12 fr-col-md-4 fr-mt-5w fr-mt-md-3v">
                <div class="fr-tile fr-tile--sm fr-enlarge-link" id="tile-transport">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="{{ path('app_front_signalement_transport') }}">Dans les transports</a>
                            </h3>
                            <p class="fr-tile__desc">Métro, tramways, train... Signaler un problème dans les transports</p>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <image class="fr-artwork-decorative" href="/build/dsfr/artwork/pictograms/map/luggage.svg#artwork-decorative"></image>
                                <image class="fr-artwork-minor" href="/build/dsfr/artwork/pictograms/map/luggage.svg#artwork-minor"></image>
                                <image class="fr-artwork-major" href="/build/dsfr/artwork/pictograms/map/luggage.svg#artwork-major"></image>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fr-col-12 fr-col-md-4 fr-mt-5w fr-mt-md-3v">
                <div class="fr-tile fr-tile--sm fr-enlarge-link" id="tile-public">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="{{ path('app_front_signalement_erp') }}">Dans un lieu public</a>
                            </h3>
                            <p class="fr-tile__desc">Signaler un problème dans un hôtel, restaurant, école, administration...</p>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <image class="fr-artwork-decorative" href="/build/dsfr/artwork/pictograms/buildings/city-hall.svg#artwork-decorative"></image>
                                <image class="fr-artwork-minor" href="/build/dsfr/artwork/pictograms/buildings/city-hall.svg#artwork-minor"></image>
                                <image class="fr-artwork-major" href="/build/dsfr/artwork/pictograms/buildings/city-hall.svg#artwork-major"></image>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>

{% endblock %}
