{% if signalement.resolvedAt %}
    {% set motifLabel = 'Problème résolu' %}
    {% set motifClass = 'resolved' %}
{% elseif signalement.closedAt %}
    {% set motifLabel = 'Arrêt usager' %}
    {% set motifClass = 'resolved' %}
{% else %}
    {% set motifLabel = 'TODO' %}
    {% set motifClass = '' %}
{% endif %}
<span class="motif-cloture motif-cloture-{{ motifClass }}">
    {{ motifLabel }}
</span>