{% if not is_granted('ROLE_ADMIN') and has_other_entreprise %}
    {% set motifLabel = 'Choix d\'une autre entreprise' %}
    {% set motifClass = 'other-entreprise' %}
{% elseif signalement.resolvedAt %}
    {% set motifLabel = 'Problème résolu' %}
    {% set motifClass = 'resolved' %}
{% elseif signalement.closedAt %}
    {% set motifLabel = 'Arrêt usager' %}
    {% set motifClass = 'resolved' %}
{% endif %}
{% if motifLabel %}
<span class="motif-cloture motif-cloture-{{ motifClass }}">
    {{ motifLabel }}
</span>
{% endif %}