{% if signalement.resolvedAt or signalement.closedAt %}
    <p class="fr-badge fr-badge--blue-ecume fr-badge--no-icon">Fermé</p>

{% elseif signalement.autotraitement and not is_granted('ROLE_ADMIN') %}
    <p class="fr-badge fr-badge--blue-ecume fr-badge--no-icon">Fermé</p>

{% elseif signalement.interventions and signalement.interventions.count > 0 and not signalement.autotraitement %}
    {% set enCours = true %}
    {% set estTraite = false %}
    {% if entreprise %}
        {% for intervention in signalement.interventions %}
            {% if intervention.entreprise.id == entreprise.id %}
                {% if intervention.accepted is same as false or intervention.acceptedByUsager is same as false %}
                    {% set enCours = false %}
                {% elseif intervention.accepted is same as true and intervention.acceptedByUsager is same as true and signalement.typeIntervention is not null %}
                    {% set estTraite = true %}
                {% endif %}
            {% endif %}
        {% endfor %}

    {% elseif signalement.typeIntervention is not null %}
        {% set estTraite = true %}
    {% endif %}

    {% if estTraite %}
        <p class="fr-badge fr-badge--green-menthe fr-badge--no-icon">Traité</p>
    {% elseif enCours %}
        <p class="fr-badge fr-badge--success fr-badge--no-icon">En cours</p>
    {% else %}
        <p class="fr-badge fr-badge--beige-gris-galet fr-badge--no-icon">Refusé</p>
    {% endif %}

{% else %}
    <p class="fr-badge fr-badge--orange-terre-battue fr-badge--no-icon">Nouveau</p>
{% endif %}