{% if signalement.autotraitement %}
    {% set procedure = {'caption': 'Protocole envoyé', 'percent': 33} %}
    {% if signalement.resolvedAt or signalement.closedAt %}
        {% set procedure = {'caption': 'Confirmation usager', 'percent': 100} %}
    {% elseif signalement.reminderAutotraitementAt %}
        {% set procedure = {'caption': 'Feedback envoyé', 'percent': 66} %}
    {% endif %}

{% else %}
    {% set procedure = {'caption': 'Réception', 'percent': 5} %}
    {% if (signalement.interventions|length > 0) %}
        {% set procedure = {'caption': 'Contact usager', 'percent': 20} %}

        {% if signalement.typeIntervention %}
            {% set procedure = {'caption': 'Intervention faite', 'percent': 80} %}
        {% elseif signalement.resolvedAt %}
            {% set procedure = {'caption': 'Confirmation usager', 'percent': 100} %}

        {% else %}
            {% set isPendingEstimation = false %}
            {% set isSentWithoutAnswer = false %}
            {% set isAccepted = false %}
            {% set isRefused = false %}
            {% for intervention in signalement.interventions %}
                {% if intervention.estimationSentAt %}
                    {% if intervention.acceptedByUsager is same as false %}
                        {% set isRefused = true %}
                    {% elseif intervention.acceptedByUsager is same as true %}
                        {% set isAccepted = true %}
                    {% else %}
                        {% set isSentWithoutAnswer = true %}
                    {% endif %}
                {% else %}
                    {% set isPendingEstimation = true %}
                {% endif %}
            {% endfor %}

            {% if isAccepted %}
                {% set procedure = {'caption': 'Estimation acceptée', 'percent': 60} %}
            {% elseif isSentWithoutAnswer %}
                {% set procedure = {'caption': 'Estimation envoyée', 'percent': 40} %}
            {% elseif isPendingEstimation %}
                {% set procedure = {'caption': 'Contact usager', 'percent': 20} %}
            {% elseif isRefused %}
                {% set procedure = {'caption': 'Estimation refusée', 'percent': 100} %}
            {% endif %}
        {% endif %}
    {% endif %}

{% endif %}

<label>{{ procedure.caption }}</label>
<br>
<progress value="{{ procedure.percent }}" max="100"></progress>