{% if signalement.resolvedAt or signalement.closedAt %}
    <p class="fr-badge fr-badge--blue-ecume fr-badge--no-icon">Fermé</p>

{% elseif signalement.autotraitement and not is_granted('ROLE_ADMIN') %}
    <p class="fr-badge fr-badge--blue-ecume fr-badge--no-icon">Fermé</p>

{% elseif signalement.interventions and signalement.interventions.count > 0 and not signalement.autotraitement %}
    {% set estRefuse = false %}
    {% set estInterventionExistante = false %}
    {% set estTraite = false %}
    {% set estAutreEntrepriseChoisie = false %}

    {% if entreprise %}
        {% for intervention in signalement.interventions %}
            {% if intervention.entreprise.id == entreprise.id %}
                {% set estInterventionExistante = true %}
                {% if intervention.accepted is same as false or intervention.acceptedByUsager is same as false %}
                    {% set estRefuse = true %}
                {% elseif intervention.accepted is same as true and intervention.acceptedByUsager is same as true and signalement.typeIntervention is not null %}
                    {% set estTraite = true %}
                {% endif %}
            {% elseif not is_granted('ROLE_ADMIN') and intervention.accepted is same as true and intervention.acceptedByUsager is same as true %}
                {% set estAutreEntrepriseChoisie = true %}
            {% endif %}
        {% endfor %}

    {% elseif signalement.typeIntervention is not null %}
        {% set estTraite = true %}
        
    {% else %}
        {% set estInterventionExistante = true %}
    {% endif %}

    {% if estTraite %}
        <p class="fr-badge fr-badge--green-menthe fr-badge--no-icon">Traité</p>
    {% elseif estAutreEntrepriseChoisie %}
        <p class="fr-badge fr-badge--blue-ecume fr-badge--no-icon">Fermé</p>
    {% elseif estRefuse %}
        <p class="fr-badge fr-badge--beige-gris-galet fr-badge--no-icon">Refusé</p>
    {% elseif estInterventionExistante %}
        <p class="fr-badge fr-badge--success fr-badge--no-icon">En cours</p>
    {% else %}
        <p class="fr-badge fr-badge--orange-terre-battue fr-badge--no-icon">Nouveau</p>
    {% endif %}

{% else %}
    <p class="fr-badge fr-badge--orange-terre-battue fr-badge--no-icon">Nouveau</p>
{% endif %}