{% if signalement.resolvedAt %}
    {% set statutInfestationLabel = 'Résolue' %}
    {% set statutInfestationClass = 'resolved' %}
{% elseif signalement.closedAt %}
    {% set statutInfestationLabel = 'Non résolue' %}
    {% set statutInfestationClass = 'resolved' %}
{% else %}
    {% set statutInfestationLabel = 'TODO' %}
    {% set statutInfestationClass = '' %}
{% endif %}
<span class="statut-infestation statut-infestation-{{ statutInfestationClass }}">
    {{ statutInfestationLabel }}
</span>