{% extends 'base.html.twig' %}

{% block title %}Stop punaises - Gérer le signalement{% endblock %}

{% block body %}
<div class="fiche-signalement fr-p-5w">
    <h1>Signalement non trouvé</h1>
</div>
{% endblock %}
