<h2>
    <span class="fr-icon-folder-2-line" aria-hidden="true"></span>
    Les documents
</h2>
<p>
    Retrouvez ici les documents ajoutés au signalement.
    Vous pouvez afficher, télécharger ou supprimer les documents existants et en ajouter de nouveaux.
</p>

<div class="fr-containerfr-mb-15w">
    <div class="fr-grid-row fr-grid fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-4">
            <h3>Devis</h3>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
            <h3>Factures</h3>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
            <h3>Autres</h3>
        </div>
    </div>

    <p>
    A venir...
    </p>
</div>
