<h2>
    <span class="fr-icon-folder-2-line" aria-hidden="true"></span>
    Les messages
</h2>

<div class="fr-container fr-mb-15w">
    <div class="fr-grid-row fr-grid fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
            <section>
                <h3>Rappel sur le signalement</h3>
                <p>Consultez les détail du signalement</p>
            </section>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
            <section>
                <h3>Vos échanges avec l'usageer</h3>
                <form action="" name="send_message">
                    <div class="fr-input-group fr-col-12">
                        <label for="message">Votre message</label>
                        <textarea class="fr-input" name="message" id="message" cols="10" rows="10"></textarea>
                        <input type="hidden" name="token" value="{{ csrf_token('send-message') }}"/>
                    </div>
                    <div class="fr-col-12 fr-text--center">
                        <button class="fr-btn fr-rounded fr-btn--icon-left" form="send_message"> Envoyer le
                            message
                        </button>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>
