<h2>
    <span class="fr-icon-folder-2-line" aria-hidden="true"></span>
    Les messages
</h2>

<div class="fr-container fr-mb-15w">
    <div class="fr-grid-row fr-grid fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
            <section>
                <h3>Rappel sur le signalement</h3>
                <p>Consultez les détails du signalement</p>
                {% include 'common/components/signalement-detail.html.twig' with {'prefix_accordion_id': 'tab-messages-'} %}
            </section>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
            <section>
                <h3>Vos échanges avec l'usager</h3>
                {% include 'common/components/messages-thread.html.twig' with
                    {
                        'haveScrollbar' : true,
                        'sender': app.user.email,
                        'recipient': 'Usager'
                    }
                %}
                <form action="{{ path('app_private_thread_message_send',{
                    'signalement_uuid': signalement.uuid,
                    'entreprise_uuid': entreprise.uuid
                }) }}" id="form-send-message" name="send_message" method="POST">
                    <div class="fr-input-group fr-col-12">
                        <label for="message">Votre message</label>
                        <div class="fr-hint-text help-text">10 caractères minimum</div>
                        <textarea class="fr-input edit-zone" name="message" id="message" cols="10" rows="3" required minlength="10" aria-describedby="message-confirmation"></textarea>
                        <input type="hidden" name="_token" value="{{ csrf_token('send_message') }}">
                    </div>
                    <div class="fr-col-12 fr-text--center">
                        <button type="submit" class="fr-btn fr-rounded fr-btn--icon-left fr-icon-send-plane-fill"> Envoyer le
                            message
                        </button>
                    </div>
                    <div id="message-confirmation" class="message-confirmation fr-mt-1w fr-alert fr-hidden">
                        <h3 class="fr-alert__title fr-text--md"></h3>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>
