<label class="fr-label" for="filter-territoire">Territoire</label>
<select class="fr-select" id="filter-territoire">
    <option value="" selected>Tous</option>
    {% if territoires is not empty %}
        {% for territoire in territoires %}
            <option value="{{ territoire.zip }}">{{ territoire.nomComplet }}</option>
        {% endfor %}
    {% endif %}
</select>