<label class="fr-label" for="filter-signalement-type">Type</label>
<select class="fr-select" id="filter-signalement-type">
    <option value="" selected>Tous</option>
    <option value="ERP">ERP</option>
    <option value="Transport">Transport</option>
</select>