<select class="fr-select" id="filter-statut">
    <option value="">Statut</option>
    <option value="Nouveau">Nouveau</option>
    <option value="En cours">En cours</option>
    <option value="Traité">Traité</option>
    <option value="Fermé">Fermé</option>
    <option value="Refusé">Refusé</option>
</select>