<dialog aria-labelledby="fr-modal-title-modal-toujours-punaises-pro" role="dialog" id="fr-modal-toujours-punaises-pro" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-toujours-punaises-pro" type="button">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-toujours-punaises-pro" class="fr-modal__title">Vous avez toujours un problème de punaises</h1>
                        <p>
                            Vous avez indiqué avoir toujours un problème de punaises de lit.
                        </p>
                        <p>
                            Que souhaitez-vous faire ?
                        </p>
                        <div>
                        </div>
                        <p class="align-center fr-mt-3v">
                            <a aria-controls="fr-modal-toujours-punaises-pro" href="#">&lt; Retour</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>