<dialog aria-labelledby="fr-modal-title-modal-toujours-punaises-pro" id="fr-modal-toujours-punaises-pro" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-toujours-punaises-pro" type="button">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-toujours-punaises-pro" class="fr-modal__title">Vous avez toujours un problème de punaises</h1>
                        <p>
                            Nous sommes désolés d'apprendre que le problème n'est pas résolu.
                            <br>
                            Stop Punaises va vous re-contacter prochainement pour vous proposer une solution.
                        </p>
                        <div>
                            <form action="{{ path('app_signalement_confirm_toujours_punaises', {'uuid': signalement.uuid }) }}" method="POST" class="fr-mb-3v">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('signalement_confirm_toujours_punaises') }}">
                                <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-check-line color-check">OK, j'ai compris</button>
                            </form>
                        </div>
                        <p class="align-center fr-mt-3v">
                            <button class="fr-btn  fr-btn--tertiary fr-btn--icon-left  fr-icon-arrow-go-back-line" aria-controls="fr-modal-toujours-punaises-pro" href="#">Retour</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>