<div class="fr-stepper">
    <div class="fr-stepper__steps" data-fr-current-step="{{ steps.stepIndex }}" data-fr-steps="{{ steps.stepMax }}"></div>
    <h2 class="fr-stepper__title">
        {{ steps.stepLabel }}
    </h2>
</div>